.cards {
  padding: 50px 0px;

  display: flex;
  justify-content: center;
  gap: 10px 20px;

  flex-wrap: wrap;
  border-bottom: 2px solid;
  background-color: white;
}

.cards .blackcard,
.cards .nudecard,
.cards .whitecard {
  border: 1px solid black;
  padding: 25px;
}

.cards .blackcard {
  background-color: black;
  color: white;
}

.cards .nudecard {
  background-color: #494949;
  color: white;
}

.cards .whitecard {
  border: 2px solid black;
}

.cards h2 {
  font-family: "DM Serif Display", serif;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

.cards p {
  width: 33ch;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.cards .whitecard p {
  width: auto;
}

.cards .whitecard a {
  text-decoration: underline;
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

.cards .whitecard a:hover {
  color: blue;
}

@media (max-width: 959px) {
  .cards .whitecard p {
    width: 33ch;
  }
}
